.contact{
    .icon{
        font-size: 4.5em;
    }
    
    .info{
        h3 {
            color: #000;
        }
        p {
            font-size: 1em;
            font-weight: 800;
            letter-spacing: 1px;
        }
    }
}
.info {
    text-align: center;
    
    h3{
        color: #3a6cf4;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
    }
}