section {
    padding: 100px 200px;
}
// .main {
//     width: 100%;
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     background: url(/images/mypic.png) no-repeat;
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
// }

// .main h2 {
//     color: #fff;
//     font-size: 1.4em;
//     font-weight: 500;
// }

// .main h2 span {
//     display: inline-block;
//     margin-top: 10px;
//     color: #4e9eff;
//     font-size: 2em;
//     font-weight: 600;
// }

// .main h3 {
//     color: #fff;
//     font-size: 1.5em;
//     font-weight: 700;
//     letter-spacing: 1px;
//     margin-top: 10px;
//     margin-bottom: 30px;
// }
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: $color3;
    .background-image{
        width: 100%;
        
        img{
            width: 80%;
            float: right;
            object-fit: cover;
        }
    }
h2{
        color: $color2;
        font-size: 1.4em;
        font-weight: 500;
    }
    h2 span{
        display: inline-block;
        margin-top: 10px;
        color: $color1;
        font-size: 2em;
        font-weight: 600;
    }
    h3{
        color: $color2;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
// .main-btn {
//     color: #fff;
//     background-color: #3a6cf4;
//     text-decoration: none;
//     font-size: 1.1em;
//     font-weight: 600;
//     display: inline-block;
//     padding: 0.9375em 2.1875em;
//     letter-spacing: 1px;
//     border-radius: 15px;
//     margin-bottom: 40px;
//     transition: 0.7s ease;
// }
// .main-btn:hover {
//     background-color: #0a49f6;
//     transform: scale(1.1);
// }
.main-btn{
    color: $color3;
    background-color: $color1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    &:hover{
        background-color: $color2;
        color: $color1;
        transform: scale(1.1);
    }
}
.social-icons{
    a {
        color: $color4;
        font-size: 1.7em;
        padding-right: 30px;
    }
}